@using PurpleBuzz.Areas.Admin.ViewModels.WorkCategory
@model WorkCategoryDetailsVM

<a class="btn btn-primary" asp-action="index" asp-controller="workcategory">Return to list</a>
<h1>Name</h1>
<p>@Model.Name</p>

@*<h1>Status</h1>
    @if (Model.IsDeleted)
    {
        <p class="text-danger">Deleted</p>
    }
    else
    {
        <p class="text-success">Active</p>
    }*@



<h1>Created Date</h1>
<p>@Model.CreatedDate.ToString("dd.MM.yyyy HH:mm")</p>

<h1>Modified Date</h1>
<p>@Model.ModifiedDate?.ToString("dd.MM.yyyy HH:mm")</p>

@*<h1>Delete Date</h1>
    <p>@Model.DeletedDate?.ToString("dd.MM.yyyy HH:mm")</p>*@

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Photo</th>
                <th>Modified Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var work in Model.Works)
            {
                <tr>
                    <td>@work.Title</td>
                    <td>@work.WorkCategory.Name</td>
                    <td>@work.CreatedDate.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@work.ModifiedDate?.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>
                        @if (!work.IsDeleted)
                        {
                            <a asp-action="update" asp-controller="work" asp-route-id="@work.Id" class="btn btn-primary">Update</a>
                            <a onclick="return ConfirmDelete()" asp-action="delete" asp-controller="work" asp-route-id="@work.Id" class="btn btn-danger">Delete</a>
                        }
                        <a asp-action="details" asp-controller="work" asp-route-id="@work.Id" class="btn btn-info">Details</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
